<div
    class="page-layout carded fullwidth tabbed inner-scroll"
    fxLayout="row"
    fxLayoutAlign="start stretch"
    fxFlex="1 0 auto"
>
    <!-- CENTER -->
    <div fxFlex="50">
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group mat-stretch-tabs class="narrow-tab">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon matTooltip="Profile">person</mat-icon>
                        </ng-template>
                        <div class="tab-content" fusePerfectScrollbar>
                            <app-edit-profile></app-edit-profile>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon matTooltip="Summary">subject</mat-icon>
                        </ng-template>
                        <div class="tab-content" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            test contnet
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 3">
                        <div class="tab-content" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            test contnet
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 4">
                        <div class="tab-content" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            test contnet
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 5">
                        <div class="tab-content" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            test contnet
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 6">
                        <div class="tab-content" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            test contnet
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 7">
                        <div class="tab-content" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            test contnet
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 8">
                        <div class="tab-content" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            test contnet
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 9">
                        <div class="tab-content" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            test contnet
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="Tab 10">
                        <div class="tab-content" fusePerfectScrollbar>
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            test contnet
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
    <div fxFlex="50">
        <app-resume-preview></app-resume-preview>
    </div>
</div>
