<mat-tab-group mat-stretch-tabs headerPosition="below" class="narrow-tab">
    <mat-tab>
        <ng-template mat-tab-label>
            Profile
        </ng-template>
        <div class="tab-content" fusePerfectScrollbar>
            <app-edit-basic-profile></app-edit-basic-profile>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            Address
        </ng-template>
        <div class="tab-content" fusePerfectScrollbar>
            <app-file-uploader></app-file-uploader>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Email
        </ng-template>
        <div class="tab-content" fusePerfectScrollbar>
            <app-image-cropper></app-image-cropper>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Phone
        </ng-template>
        <div class="tab-content" fusePerfectScrollbar>
            <app-edit-basic-profile></app-edit-basic-profile>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Online Profiles
        </ng-template>
        <div class="tab-content" fusePerfectScrollbar>
            <app-edit-basic-profile></app-edit-basic-profile>
        </div>
    </mat-tab>
</mat-tab-group>
